# Run PostgreSQL and Keycloak in Docker.
# From project root:  docker compose up -d

services:
  postgres:
    image: postgres:16-alpine
    container_name: flowdash-postgres
    environment:
      POSTGRES_USER: harshitha
      POSTGRES_PASSWORD: flowdash_local
      POSTGRES_DB: flowdash_db
    ports:
      - "5432:5432"
    volumes:
      - flowdash_pgdata:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: flowdash-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: 8080
    ports:
      - "8081:8080"   # Keycloak at http://localhost:8081

volumes:
  flowdash_pgdata:
